<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patryk Zastawny</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
     <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Patryk Zastawny</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.index') }}">Strona główna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.about') }}">O mnie</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.add') }}">Dodaj post</a>
               {% endif %} 
              {% if current_user.is_anonymous %}
              <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Logowanie</a>
            </li>
            {% endif %} 
            {% if current_user.is_authenticated %}
             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.profile') }}">Profil</a>
            </li>
             {% endif %}
            {% if current_user.is_anonymous %}
             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.signup') }}">Zarejestruj się</a>
            </li>
            {% endif %} 
            {% if current_user.is_authenticated %}
    <li class="nav-item">
    <a class="nav-link" href="/logout"><b><font color="red">Wyloguj się</font></b></a>
      </li>
       {% endif %} 
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='about-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>O mnie</h1>
              <span class="subheading">Czym się zajmuję.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Witaj na moim blogu. Nazywam się Patryk Zastawny i jestem studentem II roku na kierunku informatyka. Studiuję na uczelni Państwowa Wyższa Szkoła Zawodowa w Elblągu w Instytucie Informatyki Stosowanej. Niniejszy blog powstał na potrzeby zaliczenia przedmiotu Programowanie w Językach Skryptowych.</p>
          <p>Zawodowo pracuję na stanowisku starszego informatyka w Regionalnym Centrum Informatyki w Olsztynie, w Węźle Teleinformatycznym w Elblągu. Do zakresu moich obowiązków należy nazdzór nad siecią central telelefonicznych w łączności jawnej na potrzeby wojsk i instytucji związanych z obronnością Rzeczpospolitej Polskiej oraz nadzór nad infrastrukturą i zarządzanie sieciami teleinformatycznymi w zakresie łączności jawnej i niejawnej.</p>
          <p>Prywatnie interesuję się wszystkim co związane z szeroko rozumianą informatyką, teleinformatyką oraz bezpieczeństwem i ochroną infrmacji niejawnych. Ale także psychologią, lingiwstyką, socjologią, telekomunikacją, muzyką, filmem oraz antropologią.</p>
         
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<form method="POST" action="/login">
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Patryk Zastawny 2020</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='clean-blog.min.js') }}"></script>

  </body>

</html>
