<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patryk Zastawny</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
       <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Patryk Zastawny</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.index') }}">Strona główna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.about') }}">O mnie</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.add') }}">Dodaj post</a>
               {% endif %} 
              {% if current_user.is_anonymous %}
              <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Logowanie</a>
            </li>
            {% endif %} 
            {% if current_user.is_authenticated %}
             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.profile') }}">Profil</a>
            </li>
             {% endif %}
            {% if current_user.is_anonymous %}
             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.signup') }}">Zarejestruj się</a>
            </li>
            {% endif %} 
            {% if current_user.is_authenticated %}
    <li class="nav-item">
    <a class="nav-link" href="/logout"><b><font color="red">Wyloguj się</font></b></a>
      </li>
       {% endif %} 
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='add-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Edycja</h1>
              <span class="subheading">Edytuj swój post</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form name="addForm" id="addForm" method="POST" action="{{ url_for('main.addpost') }}" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Tytuł</label>
                <input type="text" class="form-control" placeholder="Tytuł" value="{{ post.title }}" name="title" id="title" required data-validation-required-message="Wprowadź tytuł posta.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Podtytuł</label>
                <input type="text" class="form-control" placeholder="Podtytuł" value="{{ post.subtitle }}" name="subtitle" id="subtitle" required data-validation-required-message="Wprowadź podtytuł posta.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
           <!-- <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Autor</label>
                <input type="text" class="form-control" placeholder="Autor" name="author" id="author" required data-validation-required-message="Wprowadź autora.">
                <p class="help-block text-danger"></p>
              </div>
            </div> -->
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Treść wpisu</label>
                <textarea rows="10" class="form-control" placeholder="Treść wpisu" name="content" id="content" required data-validation-required-message="Wprowadź treść dodawanego wpisu.">{{ post. content}}</textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-secondary" id="sendMessageButton">Wyślij</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">Copyright &copy; Patryk Zastawny 2020</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='clean-blog.min.js') }}"></script>

  </body>

</html>
